
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tutaj generowane beda trzy najnowsze artykuly! :)</h2>
<p>
    Zanim jednak pojawia sie tu jakiekolwiek wpisy, zajme sie najpierw, aby na witrynie funkcjonowala rejestracja i logowanie. <br />
    Prosze wiec o cierpliwosc! :)</p>
<article class="wpis">
    <h2>Tytul wpisu</h2>
    <h4>Data: 14 kwietnia 2017r.</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non ultrices turpis. Donec eu ex ex. Quisque sollicitudin mauris elit, ut ultricies tellus dignissim at. Ut lacinia nisl diam. Sed sit amet sagittis sem, a ullamcorper ex. Cras sagittis bibendum augue, ut interdum elit condimentum ut. Fusce vel dolor id mi lobortis elementum...</p>
    <a class="button wpis-button">
        Read more
    </a>

</article>
<article class="wpis">
    <h2>Tytul wpisu</h2>
    <h4>Data: 14 kwietnia 2017r.</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non ultrices turpis. Donec eu ex ex. Quisque sollicitudin mauris elit, ut ultricies tellus dignissim at. Ut lacinia nisl diam. Sed sit amet sagittis sem, a ullamcorper ex. Cras sagittis bibendum augue, ut interdum elit condimentum ut. Fusce vel dolor id mi lobortis elementum...</p>
    <a class="button wpis-button">
        Read more
    </a>

</article>
<article class="wpis">
    <h2>Tytul wpisu</h2>
    <h4>Data: 14 kwietnia 2017r.</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non ultrices turpis. Donec eu ex ex. Quisque sollicitudin mauris elit, ut ultricies tellus dignissim at. Ut lacinia nisl diam. Sed sit amet sagittis sem, a ullamcorper ex. Cras sagittis bibendum augue, ut interdum elit condimentum ut. Fusce vel dolor id mi lobortis elementum...</p>
    <a class="button wpis-button">
        Read more
    </a>

</article>

