
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<form class="center" action="Login" method="post">
    EMAIL<br>
    <label>
        <input class="text" id="Email" name="Email" type="text" value="" /> <br>
    </label>
    PASSWORD<br>
    <label>
        <input class="text" id="Password" name="Password" type="password" value="" /><br>
    </label>
    <input class="button-log" type="submit" value="Log In" />
</form>
<div class="center">
    <h4>@ViewBag.LoginInfo</h4>
</div>


